<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>name</th>
      <th>number</th>
      <th>position</th>
      <th>img</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Courtois</td>
      <td>1</td>
      <td>Goalkeeper</td>
      <td>&lt;img alt="Courtois" src="https://www.realmadrid.com//img/vertical_220px/courtois_380x501_20201203095853.jpg" /&gt;</td>
    </tr>
    <tr>
      <td>Lunin</td>
      <td>13</td>
      <td>Goalkeeper</td>
      <td>&lt;img alt="Lunin" src="https://www.realmadrid.com//img/vertical_220px/lunin_380x501_20201203095858.jpg" /&gt;</td>
    </tr>
    <tr>
      <td>Carvajal</td>
      <td>2</td>
      <td>Defender</td>
      <td>&lt;img alt="Carvajal" src="https://www.realmadrid.com//img/vertical_220px/carvajal_380x501_20201203095829.jpg" /&gt;</td>
    </tr>
    <tr>
      <td>E. Militão</td>
      <td>3</td>
      <td>Defender</td>
      <td>&lt;img alt="E. Militão" src="https://www.realmadrid.com//img/vertical_220px/militao_380x501_20201203095858.jpg" /&gt;</td>
    </tr>
    <tr>
      <td>Sergio Ramos</td>
      <td>4</td>
      <td>Defender</td>
      <td>&lt;img alt="Sergio Ramos" src="https://www.realmadrid.com//img/vertical_220px/ramos_380x501_20201203095830.jpg" /&gt;</td>
    </tr>
  </tbody>
</table>