<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>name</th>
      <th>number</th>
      <th>position</th>
      <th>img_url</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Courtois</td>
      <td>1</td>
      <td>Goalkeeper</td>
      <td>https://www.realmadrid.com//img/vertical_220px/courtois_380x501_20201203095853.jpg</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Lunin</td>
      <td>13</td>
      <td>Goalkeeper</td>
      <td>https://www.realmadrid.com//img/vertical_220px/lunin_380x501_20201203095858.jpg</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Carvajal</td>
      <td>2</td>
      <td>Defender</td>
      <td>https://www.realmadrid.com//img/vertical_220px/carvajal_380x501_20201203095829.jpg</td>
    </tr>
    <tr>
      <th>3</th>
      <td>E. Militão</td>
      <td>3</td>
      <td>Defender</td>
      <td>https://www.realmadrid.com//img/vertical_220px/militao_380x501_20201203095858.jpg</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Sergio Ramos</td>
      <td>4</td>
      <td>Defender</td>
      <td>https://www.realmadrid.com//img/vertical_220px/ramos_380x501_20201203095830.jpg</td>
    </tr>
    <tr>
      <th>5</th>
      <td>R. Varane</td>
      <td>5</td>
      <td>Defender</td>
      <td>https://www.realmadrid.com//img/vertical_220px/varane_380x501_20201203095831.jpg</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Nacho</td>
      <td>6</td>
      <td>Defender</td>
      <td>https://www.realmadrid.com//img/vertical_220px/nacho_380x501_20201203095831.jpg</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Marcelo</td>
      <td>12</td>
      <td>Defender</td>
      <td>https://www.realmadrid.com//img/vertical_220px/marcelo_380x501_20201203095832.jpg</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Odriozola</td>
      <td>19</td>
      <td>Defender</td>
      <td>https://www.realmadrid.com//img/vertical_220px/odriozola_380x501_20201203095852.jpg</td>
    </tr>
    <tr>
      <th>9</th>
      <td>F. Mendy</td>
      <td>23</td>
      <td>Defender</td>
      <td>https://www.realmadrid.com//img/vertical_220px/mendy_380x501_20201203095856.jpg</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Kroos</td>
      <td>8</td>
      <td>Midfielder</td>
      <td>https://www.realmadrid.com//img/vertical_220px/kroos_380x501_20201203095832.jpg</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Modrić</td>
      <td>10</td>
      <td>Midfielder</td>
      <td>https://www.realmadrid.com//img/vertical_220px/modric_380x501_20201203095835.jpg</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Casemiro</td>
      <td>14</td>
      <td>Midfielder</td>
      <td>https://www.realmadrid.com//img/vertical_220px/casemiro_380x501_20201203095834.jpg</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Valverde</td>
      <td>15</td>
      <td>Midfielder</td>
      <td>https://www.realmadrid.com//img/vertical_220px/valverde_380x501_20201203095828.jpg</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Ødegaard</td>
      <td>21</td>
      <td>Midfielder</td>
      <td>https://www.realmadrid.com//img/vertical_220px/odegaard_380x501_20201203095833.jpg</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Isco</td>
      <td>22</td>
      <td>Midfielder</td>
      <td>https://www.realmadrid.com//img/vertical_220px/isco_380x501_20201203095835.jpg</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Hazard</td>
      <td>7</td>
      <td>Forward</td>
      <td>https://www.realmadrid.com//img/vertical_220px/hazard_380x501_20201203095855.jpg</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Benzema</td>
      <td>9</td>
      <td>Forward</td>
      <td>https://www.realmadrid.com//img/vertical_220px/benzema_380x501_20201203095836.jpg</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Asensio</td>
      <td>11</td>
      <td>Forward</td>
      <td>https://www.realmadrid.com//img/vertical_220px/asensio_380x501_20201203095827.jpg</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Lucas V.</td>
      <td>17</td>
      <td>Forward</td>
      <td>https://www.realmadrid.com//img/vertical_220px/lucas_380x501_20201203095836.jpg</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Jović</td>
      <td>18</td>
      <td>Forward</td>
      <td>https://www.realmadrid.com//img/vertical_220px/jovic_380x501_20201203095854.jpg</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Vini Jr.</td>
      <td>20</td>
      <td>Forward</td>
      <td>https://www.realmadrid.com//img/vertical_220px/vinicius_380x501_20201203095853.jpg</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Mariano</td>
      <td>24</td>
      <td>Forward</td>
      <td>https://www.realmadrid.com//img/vertical_220px/mariano_380x501_20201203095829.jpg</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Rodrygo</td>
      <td>25</td>
      <td>Forward</td>
      <td>https://www.realmadrid.com//img/vertical_220px/rodrygo_380x501_20201203095856.jpg</td>
    </tr>
  </tbody>
</table>